
*{
  box-sizing: border-box;
}

body{
  background-color: #C8BFC3;
  background-image: none;
  background-image: url("../img/eiliv-sonas-aceron-727801-unsplash.jpg");
  background-size: cover;
  height: 100vh;
  margin-top: 10%;
  overflow: hidden;
  width: 100%;
}

header{
  background: #F2EFE9;
  height: 10%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

header img {
  float: left;
  max-width: 10%;
  margin: .5% 1%;
  transform: rotate(-10deg);
}

header nav{
  float: right;
  line-height: 70px;

}

header ul li{
  padding: 0px 35px;
  float: left;
}

header a{
  font-family: 'Roboto Condensed', sans-serif;
  color: #000;
  text-decoration: none;
  font-size: 25px; 
}

a:hover, a:active{
  text-decoration: underline;
}

header h1{
  color: #000;
  font-family: fantasy;
  font-weight: bold;
  font-size: 30px; 
  float: left;
  line-height: 80px;
  margin: auto 10px;
}

#homeImg{
  width: 100%;
  z-index: -1;
  position: absolute;
}

#homemoto{
  width:100%;
  font-family: cursive;
  color: #fff;
  float: right;
  font-size: 50px;
  margin: 0% -5%;
  text-decoration: underline;
}

div.card{
  max-width: 300px;
  height: 375px;
  overflow: hidden;
  background-color: salmon;
  color: white;
  font-family: 'Crete Round', serif;
  font-size: 18px;
  border: 5px solid black;
}

main ul li{
  display: inline-block;
  padding: 5%;
}

#productcard{
  max-width: 300px;
}

main h3{
  text-align: center;
  color: black;
  font-size: 25px;
}

main p{
  text-align: center;
  margin-top: 5%;
}

#productcard{
   width: 500px;
   max-height: 200px;
}

#productshomemoto{
  width:100%;
  font-family: cursive;
  color: white;
  float: right;
  font-size: 50px;
  margin: 0% -5%;
  text-decoration: underline;
}

.cardfamily{
  max-width: 500px;
  background-color: salmon;
  color: white;
  font-family: 'Crete Round', serif;
  font-size: 18px;
  border: 5px solid black;
  margin: 0px 50%;
}





